
:root{
    /* Original colors and fonts*/
    --color-dark-blue-100:#609ed4;
    --color-dark-blue-200:#356ea9;
    --color-dark-blue-300:#0A3871;
    --color-dark-blue-400:#072b61;
    --color-dark-blue-500:#052051;

    --color-light-blue-100:#F3F5FC;
    --color-light-blue-200:#EFF1FA;
    --color-light-blue-300:#E9ECF8;
    --color-light-blue-400:#AAB2D5;
    --color-light-blue-500:#757FB2;

    --color-gray-100:#CED4DA;
    --color-gray-200:#ADB5BD;
    --color-gray-300:#868E96;
    --color-gray-400:#495057;
    --color-gray-500:#343A40;

    --color-white: #ffffff;
    --color-btn-disabled: #D8DFE8;

    /* Boxes */
    --color-backround:var(--color-light-blue-100);
    --color-box: var(--color-white);

    /* Texts */
    --color-text-inp: var(--color-dark-blue-300);
    --color-text-out1:var(--color-gray-500);
    --color-text-out2:var(--color-gray-400);

    --color-text-alert:var(--color-gray-400);

    --color-text-btn-enc:var(--color-white);
    --color-text-btn-dec:var(--color-dark-blue-300);
    --color-text-btn-copy:var(--color-dark-blue-300);

    /* Buttons */
    --color-outline-btn:var(--color-dark-blue-300);
    --color-btn-enc:var(--color-dark-blue-300);
    --color-btn-dec1:var(--color-btn-disabled);
    --color-btn-dec2:var(--color-text-btn-enc);

    --color-btn-copy:var(--color-white);


    


    --fuente-montserrat:'Montserrat', sans-serif;
    --fuente-krona:'Krona', sans-serif;
}

*{
    padding: 0;
    margin: 0;
}