/* Roots */
:root{
    /* Original colors*/
    --color-dark-blue-100:#609ed4;
    --color-dark-blue-200:#356ea9;
    --color-dark-blue-300:#0A3871;
    --color-dark-blue-400:#072b61;
    --color-dark-blue-500:#052051;

    --color-light-blue-100:#F3F5FC;
    --color-light-blue-200:#EFF1FA;
    --color-light-blue-300:#E9ECF8;
    --color-light-blue-400:#AAB2D5;
    --color-light-blue-500:#757FB2;

    --color-gray-100:#CED4DA;
    --color-gray-200:#ADB5BD;
    --color-gray-300:#868E96;
    --color-gray-400:#495057;
    --color-gray-500:#343A40;

    --color-white: #ffffff;
    --color-btn-disabled: #D8DFE8;

    /* Boxes */
    --color-backround:var(--color-light-blue-100);
    --color-box: var(--color-white);
    --color-footer:var(--color-dark-blue-200);

    /* Texts */
    --color-text-inp: var(--color-dark-blue-300);
    --color-text-out1:var(--color-gray-500);
    --color-text-out2:var(--color-gray-400);

    --color-text-alert:var(--color-gray-400);

    --color-text-btn-enc:var(--color-white);
    --color-text-btn-dec:var(--color-dark-blue-300);
    --color-text-btn-copy:var(--color-dark-blue-300);

    /* Buttons */
    --color-border-btn:var(--color-dark-blue-300);
    
    --color-btn-enc:var(--color-dark-blue-300);
    --color-btn-dec1:var(--color-btn-disabled);
    --color-btn-dec2:var(--color-text-btn-enc);

    --color-btn-copy:var(--color-white);

    /* Original font */
    --font-inter:'Inter', sans-serif;

    /* Width and height */
    --height-header:80px;
    --height-footer:54px
}

/* General */
*{  
    font-family: var(--font-inter);
    font-size: 16px;
}
/* Body */
body{
    background: var(--color-backround);
}
/* Header */
header{
    width: 100%;
}

.header{
    display: flex;
    height: var(--height-header);
    align-content: flex-end;
    flex-wrap: wrap;
}

.header__div{
    display: flex;
    height: auto;
    width: 88%;
    margin: auto;
    align-items: center;
}

.header__div__logo{
    min-height: 40px;
    max-height: 50px;
    height: 100%;
}

/* Main */
main{
    background-color: red;
    width: 90%;
    margin: auto 40px auto auto;
    align-items: end;

}

.main{
    display: flex;
    background-color: orange;
    margin-left: 16.7%;
    margin-right: 2.8%;
}
/* Main-Section1 */
.main__left{
    background-color: yellowgreen;
    width: 70%;
}

.main__left__text{
    border: none;
    color: var(--color-text-inp);
    font-size: 2rem;
    text-transform: lowercase;
}

::placeholder{ color: var(--color-text-inp);}
    .main__left__text:focus{
        outline: none;
    }

.main__left__instructions{
    display: flex;
    align-items: center;
}

.instructions__message{
    color:var(--color-text-alert);
    font-size: 0.75rem;
}

.buttons__encryptor{
    background-color: var(--color-btn-enc);
    border: 1px solid var(--color-border-btn);
    border-radius: 24px;
    color: var(--color-text-btn-enc);
    font-size: 1rem;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.buttons__decryptor{
    background-color: var(--color-btn-dec1);
    border: 1px solid var(--color-border-btn);
    border-radius: 24px;
    color: var(--color-text-btn-dec);
    font-size: 1rem;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 24px;

}

/* Main-Section2 */
.main__right{
    background-color: yellow;
    width: 30%;
}

.main__right__text{
    background: var(--color-white);
    background-image: url("./assets/svg/muneco-lupa.svg");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: var(--color-text-out2);
}

.main__right__text:focus{
    outline: none;
}

.buttons__copy{
    background-color: --c;
    border: 1px solid var(--color-border-btn);
    border-radius: 24px;
    color: var(--color-text-btn-dec);
    font-size: 1rem;
    cursor: pointer;
    height: 67px;
    width: 328px;
    margin-left: 24px;
}

/* Footer */
footer{
    background-color:var(--color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: var(--height-footer);
    width: 100%;
    color: var(--color-white);
    font-size: 1rem;
    font-family: var(--font-inter);
}