/* Roots */
:root{
    /* Original colors*/
    --color-dark-blue-100:#609ed4;
    --color-dark-blue-200:#356ea9;
    --color-dark-blue-300:#0A3871;
    --color-dark-blue-400:#072b61;
    --color-dark-blue-500:#052051;

    --color-light-blue-100:#F3F5FC;
    --color-light-blue-200:#EFF1FA;
    --color-light-blue-300:#E9ECF8;
    --color-light-blue-400:#AAB2D5;
    --color-light-blue-500:#757FB2;

    --color-gray-100:#CED4DA;
    --color-gray-200:#ADB5BD;
    --color-gray-300:#868E96;
    --color-gray-400:#495057;
    --color-gray-500:#343A40;

    --color-white: #ffffff;
    --color-btn-disabled: #D8DFE8;

    /* Boxes */
    --color-backround:var(--color-light-blue-100);
    --color-box: var(--color-white);
    --color-footer:var(--color-dark-blue-200);

    /* Texts */
    --color-text-inp: var(--color-dark-blue-300);
    --color-text-out1:var(--color-gray-500);
    --color-text-out2:var(--color-gray-400);

    --color-text-alert:var(--color-gray-400);

    --color-text-btn-enc:var(--color-white);
    --color-text-btn-dec:var(--color-dark-blue-300);
    --color-text-btn-copy:var(--color-dark-blue-300);

    /* Buttons */
    --color-border-btn:var(--color-dark-blue-300);
    
    --color-btn-enc:var(--color-dark-blue-300);
    --color-btn-dec1:var(--color-btn-disabled);
    --color-btn-dec2:var(--color-light-blue-100);

    --color-btn-copy:var(--color-light-blue-100);

    /* Original font */
    --font-inter:'Inter', sans-serif;

    /* Width and height */
    --height-header:80px;
    --height-footer:54px;
}

/* General */
*{  
    font-family: var(--font-inter);
    font-size: 16px;
}
/* Body */
body{
    background: var(--color-backround);
}

/* Header */
header{
    width: 100%;
}

.header{
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    height: var(--height-header);
}

.header__div{
    display: flex;
    align-items: center;
    margin: auto;
    height: auto;
    width: 88%;
    
}

.header__div__logo{
    height: 100%;
    min-height: 40px;
    max-height: 50px;
}

/* Main */
main{
    background-color: red;
}

.main{
    background-color: orange;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: end;
    margin: auto 40px auto auto;
    padding: 0.5rem;
    gap: 1rem;
    min-height: calc(100vh - var(--height-header) - var(--height-footer));
    width: 88%;
}
/* Main-Section1 */
.main__left{
    background-color: yellowgreen;
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
}

.main__left__text{
    background: transparent;
    border: none;
    text-transform: lowercase;
    padding: 0px;
    min-height: 60px;
    max-height: 390px;
    width: 100%;
    color: var(--color-text-inp);
    font-size: 2rem;
}

::placeholder{ color: var(--color-text-inp);}
    .main__left__text:focus{
        outline: none;
    }

.main__left__instructions{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
    margin-top: auto;
    text-align: center;
}

.instructions__message{
    color:var(--color-text-alert);
    font-size: 0.75rem;
}

.main__left__buttons{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0.5rem;
    gap: 0.5rem; 
}

.buttons__encryptor,
.buttons__decryptor,
.buttons__copy{
    border: 1px solid var(--color-border-btn);
    border-radius: 24px;
    cursor: pointer;
    height: 67px;
    width: 47%;
    min-width: 140px;
    max-width: 328px;
    font-size: 1rem;
}

.buttons__encryptor{
    background-color: var(--color-btn-enc);
    color: var(--color-text-btn-enc);
}

.buttons__decryptor{
    background-color: var(--color-btn-dec1);
    color: var(--color-text-btn-dec);
}

/* Main-Section2 */
.main__right{
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1rem 2rem -0.5rem var(--color-gray-400);
    border-radius: 32px;
    padding: 0.5rem;
    gap: 0.5rem;
    height: calc(100% + 20px);
    width: 100%;
}

.main__right__muneco{
    width: 40%;
    min-width: 250px;
	
}

.main__right__text{
    border: none;
    outline: none;
    
    pointer-events: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
    /* color: var(--color-text-out1); */
    color: red;
    font-size: 1.5rem;
}

.main__right__text:focus{
    outline: none;
}



.buttons__copy{
    background: none;
    background-color: var(--color-btn-copy);
    color: var(--color-text-btn-dec);
    min-width: 80px;
    width: 100%;
}

/* Footer */
footer{
    background-color:var(--color-footer);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: var(--height-footer);
    width: 100%;
    color: var(--color-white);
    font-size: 1rem;
    font-family: var(--font-inter);
}



/* @media */